/* Réinitialisation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;

  background-image: url(assets/img/fond.webp);
  background-size: cover;
}

h1 {
    font-family: 'Special Elite', cursive;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    text-align: center;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Styles pour la navigation */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
}

/* Styles pour les liens */
main ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

main ul li {
  flex: 1;
  margin: 10px;
}

main ul li a {
  display: block;
  padding: 10px;
  background-color: #eee;
  color: #333;
  text-decoration: none;
  overflow: hidden;
}

main ul li a img {
  float: left;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

main ul li a h2 {
  margin: 0;
  font-size: 1.2em;
}

main ul li a p {
  margin: 0;
  font-size: 0.8em;
}

/* Styles pour la section principale */
main {
    min-height: calc(100% - 120px); /* Définir la hauteur de main */
    margin-bottom: -40px; /* Compenser la hauteur du footer */
    padding-bottom: 40px; /* Ajouter de la marge en bas pour le footer */
  }  

/* Styles pour le footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
